<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/all.css">
  <title>Document</title>
</head>
<body>
    <nav class="header-nav">
      <div class="logo">
        <h1>Logo</h1>
      </div>
      <ul id="menu-List">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/service">Service</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="contact">Contact</a></li>
      </ul>
      <div class="menu-icon"><i class="fa-solid fa-bars" onclick="toggleMenu()"></i></div>
    </nav>
    <script>
      var menuList = document.getElementById("menu-List");
      menuList.style.maxHeight = '0px'
      function toggleMenu() {
        if (menuList.style.maxHeight == '0px') {
          menuList.style.maxHeight = '400px'
        }else{
          menuList.style.maxHeight = '0px'
        }
      }
    </script>
</body>
</html>